<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Stocks 2: Loading...
		</title>
		<link rel="stylesheet" type="text/css" href="/index.css">
		<link rel="stylesheet" type="text/css" href="/stock.css">
		<script type="text/javascript" src="/general-functions.js"></script>
		<script type="text/javascript">
			var stock = <%= stockObject %>;
		</script>
		<script type="text/javascript" src="/stock-functions.js"></script>
	</head>
    <body onload="init()">
		<template id="transactionTemplate"><div class="transactionContainer">
			<div class="transactionType">
				Sell Order
			</div>
			<div class="transactionSubtitle">
				Time posted:
			</div>
			<div class="transactionTime">
				0 minutes ago
			</div>
			<div class="transactionSubtitle">
				Price info:
			</div>
			<div class="transactionInfo"><span>0</span> shares<br>$<span>0</span> / share.</div>
			<div class="transactionSubtitle">
				Total price:
			</div>
			<div class="transactionPrice">0</div>
			<button class="transactionBuy">
				Buy shares
			</button>
		</div></template>
        <div id="titleContainer">
            <h1 class="title" id="gameTitle">
                Stocks 2
            </h1>
        </div>
        <div id="subtitleContainer">
            <h1 id="gameSubtitle">
                Loading...
            </h1>
        </div>
        <div id="mainContent">
            <h1 id="stockName">
				Loading...
            </h1>
            <h2 id="stockDesc">
                Loading...
            </h2>
			<section>
				<span id="stockValue">
					Loading...
				</span>
				<span id="valueChange" class="rightalign">
					Loading...
				</span>
			</section>
			<section>
				<div class="tab">
					<h2 class="tabText">
						Market History
					</h2>
				</div>
				<div class="stockGraph">
					STOCK TRANSACTION HISTORY PLACEHOLDER
				</div>
			</section>
			<section>
				<div class="tab">
					<h2 class="tabText">
						Sell Orders
					</h2>
				</div>
				<div id="sellOrders"></div>
			</section>
			<section>
				<div class="tab">
					<h2 class="tabText">
						Sell Shares
					</h2>
				</div>
				<form action="/sellstock" method="post">
					<p>
						<label for="sellStockPrice">Value per share:</label>
						<input type="text" id="sellStockPrice" name="sharePrice">
					</p>
					<p>
						<label for="sellStockAmount">Amount to sell:</label>
						<input type="text" id="sellStockAmount" name="shareAmount">
					</p>
					<input type="text" id="sellStockUserId" name="userId" hidden="true">
					<input type="text" id="sellStockName" name="stockName" hidden="true">

					<button type="submit">
						Create Sell Order
					</button>
				</form>
			</section>
			<section>
				<div class="tab">
					<h2 class="tabText">
						Buy Orders
					</h2>
				</div>
				<div id="sellOrders"></div>
			</section>
			<section>
				<div class="tab">
					<h2 class="tabText">
						Buy Shares
					</h2>
				</div>
				<form action="/sellstock" method="post">
					<p>
						<label for="buyStockPrice">Value per share:</label>
						<input type="text" id="buyStockPrice" name="sharePrice">
					</p>
					<p>
						<label for="buyStockAmount">Amount to buy:</label>
						<input type="text" id="buyStockAmount" name="shareAmount">
					</p>
					<input type="text" id="buyStockUserId" name="userId" hidden="true">
					<input type="text" id="buyStockName" name="stockName" hidden="true">

					<button type="submit">
						Create Buy Order
					</button>
				</form>
			</section>
        </div>
		<footer>
			Made with love by @Aearnus and @TristanBomb.<br>Donate links coming soon.<br>Licensed under MIT, but we reserve the right to change this at any time.<br>Find me on GitHub here: <a href="https://github.com/aearnus/stocks-2">https://github.com/aearnus/stocks-2</a>!<br>Please submit any issues or bug reports to <a href="https://github.com/Aearnus/stocks-2/issues/new">https://github.com/Aearnus/stocks-2/issues/new</a>.
		</footer>
    </body>
</html>
