<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Stocks 2: Loading...
		</title>
		<link rel="stylesheet" type="text/css" href="/index.css">
		<link rel="stylesheet" type="text/css" href="/stock.css">
		<script type="text/javascript" src="/general-functions.js"></script>
		<script type="text/javascript">
			var stock = <%= stockObject %>;
		</script>
		<script type="text/javascript" src="/Chart.min.js"></script>
		<script type="text/javascript" src="/graphing.js"></script>
		<script type="text/javascript" src="/stock-functions.js"></script>
	</head>
    <body onload="init()">
		<template id="transactionTemplate"><div class="transactionContainer">
			<div class="transactionType">
				Sell Order
			</div>
			<div class="transactionSubtitle">
				Time posted:
			</div>
			<div class="transactionTime">
				0 minutes ago
			</div>
			<div class="transactionSubtitle">
				Price info:
			</div>
			<div class="transactionInfo"><span>0</span> shares<br>$<span>0</span> / share.</div>
			<div class="transactionSubtitle">
				Total price:
			</div>
			<div class="transactionPrice">0</div>
			<button class="transactionBuy">
				Buy shares
			</button>
		</div></template>
		<a href="/trade.html">
	        <div id="titleContainer">
	            <h1 class="title" id="gameTitle">
	                Stocks 2
	            </h1>
	        </div>
	        <div id="subtitleContainer">
	            <h1 id="gameSubtitle">
	                Loading...
	            </h1>
	        </div>
		</a>
        <div id="mainContent">
            <h1 id="stockName">
				Loading...
            </h1>
            <h2 id="stockDesc">
                Loading...
            </h2>
			<section>
				<span id="stockValue">
					Loading...
				</span>
				<span id="valueChange" class="rightalign">
					Loading...
				</span>
			</section>
			<section>
				<div class="tab">
					<h2 class="tabText">
						Market History
					</h2>
				</div>
				<div class="stockGraphContainer">
					<canvas id="stockHistoryGraph" class="stockGraph">
						STOCK TRANSACTION HISTORY GRAPH
					</canvas>
				</div>
			</section>
			<section>
				<div class="tab">
					<h2 class="tabText">
						Sell Orders
					</h2>
				</div>
				<div id="sellOrders"></div>
			</section>
			<section>
				<div class="tab">
					<h2 class="tabText">
						Sell Shares
					</h2>
				</div>
				<div class="tabContents">
					<div class="inputGroup">
						<label for="sellPrice">Value per share:</label>
						<input type="number" id="sellPrice" step="any" oninput="updateSellStock()">
					</div>
					<div class="inputGroup">
						<label for="sellAmount">Amount to sell:</label>
						<input type="number" id="sellAmount" oninput="updateSellStock()">
					</div>
					<div class="inputGroup">
						The total price of this order is <span class="money" id="sellValue">0</span>.
					</div>
					<div class="inputGroup">
						This order contains <span class="inputStatus" id="sellShares">0</span> shares.
					</div>
					<button type="submit" id="sellSubmit" onclick="sellStock()" disabled>
						Create Sell Order
					</button>
				</div>
			</section>
			<section>
				<div class="tab">
					<h2 class="tabText">
						Buy Orders
					</h2>
				</div>
				<div id="buyOrders"></div>
			</section>
			<section>
				<div class="tab">
					<h2 class="tabText">
						Buy Shares
					</h2>
				</div>
				<div class="tabContents">
					<div class="inputGroup">
						<label for="buyPrice">Value per share:</label>
						<input type="number" id="buyPrice" step="any" oninput="updateBuyStock()">
					</div>
					<div class="inputGroup">
						<label for="buyAmount">Amount to buy:</label>
						<input type="number" id="buyAmount" oninput="updateBuyStock()">
					</div>
					<div class="inputGroup">
						The total price of this order is <span class="money inputStatus" id="buyValue">0</span>.
					</div>
					<button type="submit" id="buySubmit" onclick="buyStock()" disabled>
						Create Buy Order
					</button>
				</div>
			</section>
        </div>
		<div class="floatingInfo">
			<div class="rightalign floatingBox">
				Liquid funds:
				<div id="floatingMoney" class="money">0</div>
				Shares owned:
				<div id="floatingShares">0</div>
			</div>
			<div class="leftalign floatingBox">
				Report any problems you find to <a href="https://twitter.com/Aearnus">@Aearnus</a>. Join our discord at <a href="https://discord.gg/EcYQk5a">https://discord.gg/EcYQk5a</a>!
			</div>
		</div>
		<footer>
			Made with love by @Aearnus and @TristanBomb.<br>Donate links coming soon.<br>Licensed under MIT, but we reserve the right to change this at any time.<br>Find me on GitHub here: <a href="https://github.com/aearnus/stocks-2">https://github.com/aearnus/stocks-2</a>!<br>Please submit any issues or bug reports to <a href="https://github.com/Aearnus/stocks-2/issues/new">https://github.com/Aearnus/stocks-2/issues/new</a>.
		</footer>
    </body>
</html>
