<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Stocks 2: Loading...
		</title>
		<link rel="stylesheet" type="text/css" href="/index.css">
		<script type="text/javascript" src="/general-functions.js"></script>
		<script type="text/javascript">
			var stock = <%= stockObject %>;
		</script>
		<script type="text/javascript" src="/stock-functions.js"></script>
	</head>
    <body onload="init()">
        <div id="titleContainer">
            <h1 class="title" id="gameTitle">
                Stocks 2
            </h1>
        </div>
        <div id="subtitleContainer">
            <h1 id="gameSubtitle">
                Loading...
            </h1>
        </div>
        <div id="mainContent">
            <h1 id="stockName">
				Loading...
            </h1>
            <h2 id="stockDesc">
                Loading...
            </h2>
        </div>
    </body>
</html>
