#stockValue::before {
    content: "$"
}

.stockGraphContainer {
    width: 100%;
    height: 24rem;
    text-align: center;
    background-color: #111;
    color: var(--bg-alt);
    padding: 0.5rem;
    position: relative;
}

.transactionContainer {
    display: inline-block;
    margin: 0.5rem;
    width: 16em;
    background-color: var(--text-alt);
    color: var(--bg);
    padding: 0.5rem;
    display: relative;
}

.transactionType {
    width: 100%;
    text-align: center;
    border-bottom: 3px solid var(--accent);
    font-weight: bold;
}

.transactionSubtitle {
    font-weight: bold;
}

.transactionTime {
    padding-left: 1rem;
}

.transactionPrice {
    padding-left: 1rem;
}
.transactionPrice::before {
    content: "$"
}

.transactionInfo {
    padding-left: 1rem;
}

.transactionFill {
    text-align: center;
    background-color: var(--text);
    width: 100%;
}

.transactionAmount {
    background-color: var(--text-alt);
    color: var(--bg);
    width: 40%;
    border: 0;
}
