.stockTickerSmall {
	display: inline-block;
	background-color: var(--text-alt);
	width: 8rem;
	height: 6rem;
	padding: 1rem;
	margin: 2px;
	text-align: center;
}
.stockTitleSmall {
	font-weight: bold;
	border-bottom: 3px solid var(--accent);
	margin-bottom: 3px;
	color: var(--bg);
}
.stockValueTickerSmall {
	float: left;
	width: 100%;
	text-align: left;
	color: var(--bg-alt);
}
.stockValueTickerSmall::before {
	content: "$"
}

.stockChangeTickerSmall {
	width: 100%;
	text-align: right;
	float: right;
}

.stockTickerLarge {
	display: inline-block;
	position: relative;
	background-color: var(--text-alt);
	width: 100%;
	height: 12rem;
	padding: 0.5rem;
	text-align: left;
}
.stockTitleLarge {
	display: block;
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: auto;
	font-size: 1.5rem;
	border-bottom: 3px solid var(--accent);
	border-right: 3px solid var(--accent);
	padding-right: 3px;
	color: var(--bg);
	float: left;
}

.stockValueChangeContainerLarge {
	position: absolute;
	top: 0.5rem;
	left: 12rem;
}
.stockValueTickerLarge::before {
	content: "$"
}
.stockValueTickerLarge {
	color: var(--bg-alt);
	line-height: 1rem;
}
.stockChangeTickerLarge {
	line-height: 1rem;
}
.stockOwnedTickerLarge::before {
	content: "#:"
}
.stockOwnedTickerLarge {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	color: var(--bg-alt);
	text-align: right;
	line-height: 1rem;
}
.stockDescriptionTickerLarge {
	position: absolute;
	top: 2rem;
	right: 0.5rem;
	color: var(--bg-alt);
	overflow-x: hidden;
	max-width: calc(100% - 12rem);
	line-height: 1rem;
	display: inline;
	white-space: nowrap;
}
.stockGraphTickerLarge {
	position: absolute;
	top: 3.5rem;
	left: 0.5rem;
	height: 8rem;
	width: calc(100% - 1rem);
	background-color: #111;
	color: var(--bg-alt);
	text-align: center;
	padding: 0.5rem;
	padding-top: 1rem;
}
